

# Allow sample
!data/sample/

# Ignore env
venv/
.venv/

# Python cache
__pycache__/
*.pyc

__pycache__/
*.pyc


venv/
.venv/
env/

# Raw PDFs - hide kar
data/raw/**/*.pdf
data/raw/**/*.PDF

# Processed JSON - hide kar  
data/processed/**/*.json

# Par folders dikhne do (gitkeep allow karo)
!data/raw/.gitkeep
!data/processed/.gitkeep